{% load static %}
{% static "images" as baseUrl  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Open+Sans:ital,wght@1,600&display=swap&family=Courgette&display=swa&family=Courgette&display=swap&family=Secular+One&family=Source+Sans+Pro:ital,wght@1,700&display=swap&family=Dosis:wght@800&display=swap&family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'styles/finaltrn.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    
   <div class="container">
		<div class="row">
				
					<div class="col-lg-6" >
						<!--*******Ithe Orders Details Yetil*******-->
						<div class="container">
							<div class="order">
								<h4>Booking Successful Thank You!!</h4>
								<h4>Order #OR462{{oid}}
								</h4>
								
							</div>
							<div class="orderdetails">
								<table>
									<tr><td><h4>Hotel Name:</h4></td>
										<td><h4>{{item.menuId.restId.restName}}{{item.menuId.restId.restType}}</h4></td></tr>
									<tr><td><h4>Customer Name:-</h4></td>
										<td><h4>{{item.custId.custFirstName}}</h4></td></tr><br>
									<tr><td><h4>Date & Time:-</h4></td>
										<td><h4>{{date}} {{time}}</h4></td></tr><br>
									<tr><td><h4>No of Guests:-</h4></td>
										<td><h4>{{nog}}</h4></td></tr><br>   
											 
							   </table>
							</div>
							<hr class="bg-white">
							
							
							<div class="selecteditems">
								<h4><u>Selected Items:-</u></h4>
								<div class="container">
								{% for item in items %}
									<div class="row">
										<div class="col-lg-6">
											<div class="menucontainer">
												<div class="row">
													<div class="col-md-12">
														<h4>{{item.menuId.menuName}} * {{item.quantity}}</h4>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6">
											<h5>{{item.get_total}}</h5>
										</div>
									</div>
								{% endfor %}
									<hr class="bg-white">

									<div class="row">
										<div class="col-lg-6">
											<div class="menucontainer" style="margin-right: 2px;">
												<div class="row">
													<div class="col-md-12">
														<h4><u>Item Total</u></h4>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6">
											<h4>{{order.total_cart}}/-</h4>
										</div>
									</div><br>

									<div class="row">
										<div class="col-lg-6">
											<div class="menucontainer">
												<div class="row">
													<div class="col-md-12">
														<h4>GST</h4>
													</div>
												</div>
												
											</div>
										</div>
										<div class="col-lg-6">
											<h6>{{order.gst|floatformat:2}}(18%)</h6>
										</div>
									</div>

									
									<hr class="bg-white">

									<div class="row">
										<div class="col-lg-6">
											<div class="menucontainer">
												<div class="row">
													<div class="col-md-12">
														<h5><u>Bill Total</u></h5>
													</div>
												</div>
												
											</div>
										</div>
										<div class="col-lg-6">
											<h5>{{order.get_cart_total}}</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                        
						<div class="col-lg-6" style="border-color: blueviolet;">
                                    <!--*******FeedBack Form Ithe yeil*******--> 
                                         
							<form action="{% url 'feedback'  rid %}" role="form" method="POST">
                                {% csrf_token %} 
                                <div class="container">
									<div class="feedBack">
										<div class="row">
											<h3 class="text-center mt-5">FeedBack Form</h3>

											<hr class="bg-white">
											<h5 class="mt-4">How Do You Rate Your Overall Experience?</h5><br><br>

											<div>
												<input type="radio" name="rate" value="vbad">Very Bad &nbsp; &nbsp;
												<input type="radio" name="rate" value="bad">Bad &nbsp; &nbsp;
												<input type="radio" name="rate" value="good">Good &nbsp; &nbsp;
												<input type="radio" name="rate" value="vgood">Very Good &nbsp; &nbsp;
												<input type="radio" name="rate" value="exc">Excellent
											</div>
										</div>
									</div>

										<div class="feedBackdetails">
											<div class="col-md-2"></div>
											
												<label>Email Id*<br>
													<input type="text" id="email" name="email" required=""><br>
												</label>

												<label>FeedBack Type*<br>
													<select name = "ftype" >
														<option value="1">Restaurant</option>
														<option value="2">Online System</option>
														<option value="3">Other</option>
													</select>
												</label>

												

												<label>Phone Number*<br>
													<input type="text" id="cno" name="cno" required="">
												</label>

												<label>FeedBack Description*<br>
													<textarea id="message" name="message" required="" placeholder="Write Your Message Here" cols="50" rows="5"></textarea>
												</label>
											
										</div>

										<div class="row">
											<div class="col-md-2"></div>
											<button class="btn btn-primary" style="width: 40%; position: absolute; margin-left: 15%">Submit</button>
										</div>
								</div>
							</form>
						</div>
         </div>
     </div>        
      
</body>
</html>