{% load static %}
{% static "images" as baseUrl  %}
<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/style1.css' %}">
</head>
<body>
	<div id="login-box">
		<div class="left-box">
			<h1>Sign Up</h1>
			<form action="registration" method="post">
				{% csrf_token %}
					<input type="text" name="FirstName" placeholder="FirstName">
					<input type="text" name="LastName" placeholder="LastName">
					<input type="text" name="Email" placeholder="Email">
					<input type="text" name="City" placeholder="City">
					<input type="text" name="ContactNo" placeholder="ContactNo">
					<input type="date" id="birthday" name="birthday" value="{{placement.date|date:"YYYY-MM-DD" }}"  >
					<input type="password" name="Password" placeholder="Password">
					<input type="password" name="ConfirmPassword" placeholder="ConfirmPassword">
					<input type="submit" name="Submit" value="Signup">
				
			</form>
		</div>
		<div class="right-box">
			<span class="Signinwith">Sign in With<br/>Social Network</span>
			<button class="Social Facebook">Log In with Facebook</button>
			<button class="Social Twitter">Log In with Twitter</button>
			<button class="Social Google">Log In with Google</button>
		</div>
		<div class="or">OR</div>
		<div>
			{% for message in messages %}
			<h3>{{ message }}</h3>
			{% endfor %}
		</div>
	</div>
	


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>