.feedBack{
	text-align: center;
	margin-top: 25px;
	margin-left: 400px;
	height: 850px;
	width: 700px;
	border: 3px solid red;
	padding: 10px;
}

.feedBack h3{
	margin-left: 20px;
	font-family: 'Sansita Swashed', cursive;
	font-size: 30px;
}

.feedBack h5{
	margin-left: 18px;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
}

.feedBack form{
	margin-left: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

.feedBackdetails{
	margin-top: 10px;
}

.feedBackdetails label{
	margin-left: 20px;
	font-family: 'Sansita Swashed', cursive;
	font-size: 19px;
}