
.orderdetails{
	top: 70px;
	margin-top: 100px;
	height: 300px;
	width: 500px;
	border: 3px solid brown;
}
.orderdetails h4{
	margin-top: 60px;
	margin-left: 20px;
	font-family: 'Sansita Swashed', cursive;
	font-size: 30px;
}
.orderdetails h5{
	margin-left: 20px;
	font-family: 'Lato', sans-serif;
}
#selectedmenu{
	margin-top: 10px;
	height: auto;
	width: 500px;
	border: 3px solid brown;
}
.selectedmenu{
	margin-top: 10px;
	height: auto;
	width: 500px;
	border: 3px solid brown;
}
.selectedmenu h4{
	margin-top: 30px;
	margin-left: 20px;
	font-family: 'Sansita Swashed', cursive;
	font-size: 30px;
}

.couponbutton{
	margin-top: 40px;
	margin-left: 20px;
	font-family: 'Sansita Swashed', cursive;
	font-size: 30px;

}
.billdetails{
	margin-top: 40px;
	height: 300px;
	width: 400px;
	border: 3px solid brown;
}
.billdetails h5{
	margin-top: 10px;
	margin-left: 20px;
	font-family: 'Lato', sans-serif;
}
.billdetails h4{
	margin-top: 30px;
	margin-left: 20px;
	font-family: 'Sansita Swashed', cursive;
	font-size: 30px;
}

.booking-widget{
	position: absolute;
	margin-top: 700px;
	right: 40px;
	margin-right: 100px;
	height: 200px;
	width: 550px;
	border: 3px solid brown;
	box-shadow: 3px 3px brown;
}
.booking-widget h4{
	margin-top: 10px;
	margin-left: 20px;
	font-family: 'Sansita Swashed', cursive;
}
.booking-widget h6{
	margin-left: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}
.booking-widget label{
	margin-left: 20px;
}
.booking-widget input{
	
	padding: 5px;
	font-size: 14px;

}
.payment-gateway{
	
	top:400px;
	margin-top: 400px;
	right: 200px;
	margin-right: 40px;
	height: 350px;
	width: 450px;
	border-width:3px;
	box-shadow: 3px 3px 3px 3px #ccc;
}
.payment-gateway h4{
	margin-top: 30px;
	margin-left: 20px;
	font-family: 'Sansita Swashed', cursive;
	font-size: 30px;
}
.payment-gateway h5{
	margin-top: 10px;
	margin-left: 20px;
	font-family: 'Lato', sans-serif;
}

.confirmbutton{
	position: absolute;
	top:700px;
	size: 50px;
	right: 400px;
	margin-right: 100px;
	font-family: 'Sansita Swashed', cursive;
	font-size: 50px;
}
footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2c292f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}
/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}
/* The company logo */

.footer-distributed .footer-left img {
    width: 30%;
}

.footer-distributed h3 span {
    color: #e0ac1c;
}
/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}
/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */

@media (max-width: 880px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}